{include file="layouts/header" /}
{include file="layouts/nav" /}
{include file="layouts/menu" /}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 租赁管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 配套设施列表</h3>
      </div>
      <form action="/admin/HmAncillaryFacility/index" method="post">
        <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="search" placeholder="请输入搜索关键字">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
      <div class="panel-body">
        <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>名称</th>
                <th>排序</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {if condition="(!$data->isEmpty())"}
            {foreach name="data" item="v" key="k"}
              <tr>
                <td></td>
                <td>{$v.cname}</td>
                <td>{$v.sort}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs" onclick="modif({$v.id});">修改</button>
                    <button type="button" class="btn btn-default btn-xs" onclick="del({$v.id});">删除</button>
                </td>
              </tr>
            {/foreach}
            {else /}
            <tr>
              <td colspan="10">
                <blockquote>
                  <p>暂无数据 ~</p>
                </blockquote>
              </td>
            </tr>
            {/if}
            </tbody>
        </table>
        <div style="float: right;">
          {$data->render()}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{include file="layouts/footer" /}

<!-- 当前页面js -->
{js href="/static/admin/hm_ancillary_facility/js/index.js" /}